@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

h2, p {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

h2:before, h2:after {
    content: '';
    border-top: 2px solid;
    opacity: 0.7;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    flex: 1;
}

.formContainer {
    display: flex;
}

.myForm {
    margin: 0 auto;
    display: flex;
    align-content: center;
}

.inText {
    font-size: 1em;
    line-height: 60px;
    color: white;
    background: #222222;
    padding-top: 5px;
    padding-left: 10px;
}

button {
    background: #df2351;
    background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
}